/* ----Mobile-First-Portrait-Mode-- */
/* Starting from the smallest, iphone 5/SE size: 320x568*/
#about-me {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  min-height: 568px;
  max-height: 670px;
  overflow: hidden;
  padding-top: 8%;
}

#about-me .title {
  font-size: 2.6rem;
  font-weight: 300;
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.contents-ctr {
  width: 89%;
  height: 80%;
  max-width: 300px;
  position: relative;
  top: 0%;
}

.bio-bg,
.bio {
  width: 100%;
  min-height: 75%;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.bio-bg {
  background-color: rgba(0, 0, 0, 0.7);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  z-index: 2;
}

.bio {
  color: #fff;
  font-size: 1.46rem;
  letter-spacing: 0.1rem;
  z-index: 3;
}

.bio .languages,
.bio .tools {
  color: #000;
  margin-top: 2.5rem;
}

.bio .tools {
  margin-top: 1.2rem;
}

.languages h4,
.tools h4 {
  padding-bottom: 0.3rem;
  font-size: 1.3rem;
  font-weight: 100;
}

.languages span,
.tools span {
  margin: 0 0.8rem;
  font-size: 0.95rem;
}

#about-me .vert-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

#about-me .horiz-bg {
  display: none;
}

/*---Mobile-Media-Querie-Rules--- */
/* For screen (width: 360px and more, height: 640px (in mind)*/
@media screen and (min-width: 358px) {
  #about-me .title {
    font-size: 2.8rem;
  }

  .bio-bg,
  .bio {
    min-height: 81%;
  }

  .bio {
    font-size: 1.7rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.4rem;
  }

  .languages span,
  .tools span {
    font-size: 1.1rem;
  }
}

/* For screen (width: 360px and more, height: 760px*/
@media screen and (min-width: 358px) and (min-height: 758px) {
  #about-me .title {
    margin-top: 5.5rem;
  }

  .bio-bg,
  .bio {
    min-height: 78%;
  }
}

/* For screen (width: 375px and more, height: 667px (in mind)*/
@media screen and (min-width: 374px) {
  .bio-bg,
  .bio {
    min-height: 80%;
  }

  .bio {
    font-size: 1.8rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.5rem;
  }

  .languages span,
  .tools span {
    font-size: 1.2rem;
  }
}

/* For screen (width: 375px and more, height: 812px*/
@media screen and (min-width: 374px) and (min-height: 810px) {
  #about-me .title {
    margin-top: 4.5rem;
  }
}

/* For screen (width: 414px and more, height: 736px (in mind)*/
@media screen and (min-width: 412px) {
  .languages,
  .tools {
    margin-left: 2rem;
  }
}

/* For screen (width: 414px and more, height: 896px*/
@media screen and (min-width: 412px) and (min-height: 894px) {
  .contents-ctr {
    max-width: 350px;
  }

  .bio-bg,
  .bio {
    min-height: 76.5%;
  }
}

/* ----Mobile-Landscape---- */
/* Styles for mobiles in landscape mode that has min-height of 300px*/
@media screen and (min-height: 300px) and (min-width: 568px) and (orientation: landscape) {
  #about-me {
    min-height: 582px;
  }

  #about-me .title {
    margin-bottom: 2rem;
    margin-left: 4rem;
  }

  .contents-ctr {
    max-width: 480px;
  }

  .bio-bg,
  .bio {
    min-height: 71%;
  }

  .bio .languages,
  .bio .tools {
    margin-left: 4rem;
  }

  .bio .tools {
    margin-top: 1.6rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.6rem;
  }

  .languages span,
  .tools span {
    margin: 0 1rem;
    font-size: 1.3rem;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 360px*/
@media screen and (min-height: 360px) and (min-width: 640px) and (orientation: landscape) {
  #about-me {
    min-height: 590px;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 360px*/
@media screen and (min-height: 360px) and (min-width: 760px) and (orientation: landscape) {
  #about-me .title {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .contents-ctr {
    margin-left: 4vw;
  }

  .bio-bg,
  .bio {
    min-height: 71%;
  }

  .bio-bg {
    background-color: rgb(190, 202, 164);
    border-radius: 8px;
    z-index: 1;
  }

  .bio {
    color: #000;
  }

  #about-me .vert-bg {
    display: none;
  }

  #about-me .horiz-bg {
    display: block;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 375px*/
@media screen and (min-height: 375px) and (min-width: 667px) and (orientation: landscape) {
  #about-me .title {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .bio .languages,
  .bio .tools {
    margin-top: 2.5rem;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 414px*/
@media screen and (min-height: 414px) and (min-width: 736px) and (orientation: landscape) {
  #about-me .title {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .contents-ctr {
    margin-left: 4vw;
  }

  .bio-bg,
  .bio {
    min-height: 71%;
  }

  .bio-bg {
    background-color: rgb(190, 202, 164);
    border-radius: 8px;
    z-index: 1;
  }

  .bio {
    color: #000;
  }

  .bio .languages,
  .bio .tools {
    margin-left: 0.5rem;
  }

  #about-me .vert-bg {
    display: none;
  }

  #about-me .horiz-bg {
    display: block;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 414px*/
@media screen and (min-height: 414px) and (min-width: 896px) and (orientation: landscape) {
  #about-me .title {
    margin-top: 1rem;
    margin-left: 4rem;
  }

  .contents-ctr {
    margin-left: 10vw;
  }

  .bio-bg,
  .bio {
    min-height: 75%;
    padding: 1.5rem 2rem;
  }
}

/*---Tablet-Media-Querie-Rules--- */
/* For screen (width: 600px and more, height: 800px (in mind)*/
@media screen and (min-width: 599px) and (min-height: 799px) {
  #about-me .title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
  }

  .contents-ctr {
    max-width: 480px;
    margin-left: 6vw;
  }

  .bio-bg,
  .bio {
    min-height: 80%;
    padding: 1.5rem 2rem;
    border-radius: 6px;
  }

  .bio {
    font-size: 2.2rem;
  }

  .bio .languages,
  .bio .tools {
    margin-left: 4rem;
    margin-top: 2rem;
  }

  .bio .tools {
    margin-top: 1rem;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.7rem;
  }

  .languages span,
  .tools span {
    margin: 0 1rem;
    font-size: 1.3rem;
  }
}

/* For screen (width: 601px and more, height: 962px*/
/* @media screen and (min-width: 600px) and (min-height: 960px) {
} */

/* For screen (width: 768px and more, height: 1024px (in mind)*/
@media screen and (min-width: 766px) and (min-height: 1023px) {
  #about-me {
    min-height: 690px;
  }

  #about-me .title {
    margin-left: 8rem;
  }

  .contents-ctr {
    margin-left: 17vw;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.8rem;
  }

  .languages span,
  .tools span {
    font-size: 1.5rem;
  }
}

/* For screen (width: 800px and more, height: 600px (in mind)*/
/* @media screen and (min-width: 798px) {
} */

/* For screen (width: 800px and more, height: 1080px (in mind)*/
@media screen and (min-width: 799px) and (min-height: 1079px) {
  #about-me .title {
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .contents-ctr {
    max-width: 560px;
    margin-left: 4vw;
  }

  .bio-bg,
  .bio {
    min-height: 74.5%;
  }

  .bio-bg {
    background-color: rgb(190, 202, 164);
  }

  .bio {
    color: #000;
  }

  .bio .languages {
    margin-top: 3rem;
  }

  .bio .languages,
  .bio .tools {
    margin-left: 1.5rem;
  }

  #about-me .vert-bg {
    display: none;
  }

  #about-me .horiz-bg {
    display: block;
    width: 43%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}

/* For screen (width: 810px and more, height: 1280px */
/* @media screen and (min-width: 809px) and (min-height: 1278px) {
} */

/* For screen (width: 962px and more, height: 601px (in mind)*/
@media screen and (min-width: 960px) {
  #about-me {
    min-height: 620px;
  }

  .contents-ctr {
    max-width: 600px;
    margin-left: 8vw;
  }

  .bio-bg,
  .bio {
    min-height: 330px;
  }

  .bio {
    font-size: 2rem;
  }

  .bio .tools {
    margin-top: 1.5rem;
  }
}

/* For screen (width: 1024px and more, height: 768px (in mind) */
@media screen and (min-width: 1022px) {
  #about-me .title {
    font-size: 3rem;
    margin-left: 8vw;
  }

  .contents-ctr {
    margin-left: 10vw;
  }

  .languages h4,
  .tools h4 {
    font-size: 1.8rem;
  }

  .languages span,
  .tools span {
    font-size: 1.4rem;
  }

  #about-me .horiz-bg {
    width: 48%;
  }
}

/* For screen (width: 1024px and more, height: 1366px)*/
/* @media screen and (min-width: 1022px) and (min-height: 1365px) {
} */

/* For screen (width: 1280px and more, height: 800px (in mind)*/
@media screen and (min-width: 1278px) {
  #about-me .title {
    margin-top: 1rem;
  }

  .contents-ctr {
    max-width: 620px;
    margin-left: 14vw;
  }

  #about-me .horiz-bg {
    width: 45%;
    margin-right: 8vw;
  }
}

/* For screen (width: 1366px and more, height: 768px (in mind)*/
/* @media screen and (min-width: 1364px) {
} */

/* For screen (width: 1366px and more, height: 1024px*/
/* @media screen and (min-width: 1364px) and (min-height: 1022px) {
} */
