/* Style for the modal background */
.modal {
  position: fixed;
  inset: 0;
  top: 6rem;
  margin: auto;
  max-width: 500px;
  max-height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 100;
}

/* Style for the modal content */
.detail-content {
  position: relative;
  width: 100%;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.detail-content__close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
}

/* Style for the modal title */
.detail-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

hr {
  margin: 10px 0;
}

/* Style for the modal description */
.detail-content p {
  line-height: 2.3rem;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 5px;
}

/* Style for the links container */
.detail-content__actions {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 599px) {
  .detail-content {
    font-size: 1.8rem;
  }
}
