/* ----Mobile-First---- */
/* Starting from the smallest, iphone 5/SE size: 320x568*/
#my-work {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-width: 320px;
  min-height: 568px;
  max-height: 650px;
  overflow: hidden;
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    -40deg,
    #fff 0,
    #fff 40%,
    #e2dfdf 40%,
    #e2dfdf 58%,
    #fff 58%,
    #fff 100%
  );
}

.vert-up {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 6%;
}

.vert-up .title {
  padding: 2rem 0;
}

#my-work .work-space-pic {
  width: 45%;
  height: 100%;
}

/*---Mobile-Media-Querie-Rules--- */
/* For screen (width: 414px and more, height: 736px (in mind)*/
@media screen and (min-width: 412px) {
  #my-work {
    max-height: 700px;
  }
}

/* For screen (width: 414px and more, height: 896px*/
@media screen and (min-width: 412px) and (min-height: 894px) {
  #my-work {
    max-height: 720px;
  }
}

/* ----Mobile-Landscape---- */
/* Styles for mobiles in landscape mode that has min-height of 300px*/
@media screen and (min-height: 300px) and (min-width: 568px) and (orientation: landscape) {
  #my-work {
    min-height: 680px;
    max-height: 680px;
  }

  .vert-up {
    width: 80%;
  }

  .vert-up .title {
    padding: 3rem 0;
  }

  #my-work .work-space-pic {
    width: 40%;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 360px*/
@media screen and (min-height: 360px) and (min-width: 640px) and (orientation: landscape) {
  #my-work {
    min-height: 740px;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 360px*/
@media screen and (min-height: 360px) and (min-width: 760px) and (orientation: landscape) {
  #my-work {
    min-height: 568px;
    max-height: 500px;
    padding: 4rem;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(
      -30deg,
      #fff 0,
      #fff 40%,
      #e2dfdf 40%,
      #e2dfdf 58%,
      #fff 58%,
      #fff 100%
    );
  }

  .horiz-left {
    width: 35%;
    flex-direction: column;
    margin-top: -2rem;
  }

  .horiz-left .title {
    text-align: right;
    margin-right: -6vw;
  }

  #my-work .work-space-pic {
    width: 100%;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 375px*/
@media screen and (min-height: 375px) and (min-width: 667px) and (orientation: landscape) {
  #my-work {
    min-height: 550px;
    max-height: 550px;
    padding: 3rem;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(
      -30deg,
      #fff 0,
      #fff 40%,
      #e2dfdf 40%,
      #e2dfdf 58%,
      #fff 58%,
      #fff 100%
    );
  }

  .horiz-left {
    width: 38%;
    flex-direction: column;
    margin-top: -2rem;
  }

  .horiz-left .title {
    text-align: right;
    margin-right: -6vw;
  }

  #my-work .work-space-pic {
    width: 100%;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 375px*/
@media screen and (min-height: 375px) and (min-width: 812px) and (orientation: landscape) {
  .horiz-left {
    width: 35%;
    margin-top: 0;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 414px*/
@media screen and (min-height: 414px) and (min-width: 896px) and (orientation: landscape) {
  #my-work {
    min-height: 620px;
  }
}

/*---Tablet-Media-Querie-Rules--- */
/* For screen (width: 600px and more, height: 800px (in mind)*/
@media screen and (min-width: 599px) and (min-height: 799px) {
  .vert-up {
    margin-top: 1rem;
  }

  #my-work .work-space-pic {
    width: 40%;
  }
}

/* For screen (width: 601px and more, height: 962px*/
/* @media screen and (min-width: 600px) and (min-height: 960px) {
} */

/* For screen (width: 768px and more, height: 1024px (in mind)*/
@media screen and (min-width: 766px) {
  #my-work {
    max-height: 550px;
    padding: 3rem;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(
      -26deg,
      #fff 0,
      #fff 40%,
      #e2dfdf 40%,
      #e2dfdf 58%,
      #fff 58%,
      #fff 100%
    );
  }

  .horiz-left {
    width: 38%;
    flex-direction: column;
  }

  .horiz-left .title {
    text-align: right;
    margin-right: -6vw;
  }

  #my-work .work-space-pic {
    width: 100%;
    height: 40rem;
  }
}

/* For screen (width: 800px and more, height: 600px (in mind)*/
@media screen and (min-width: 798px) {
  .horiz-left {
    margin-top: 3rem;
    width: 32%;
  }
}

/* For screen (width: 800px and more, height: 1080px (in mind)*/
/* @media screen and (min-width: 799px) and (min-height: 1079px) {
} */

/* For screen (width: 810px and more, height: 1280px */
/* @media screen and (min-width: 809px) and (min-height: 1278px) {
} */

/* For screen (width: 962px and more, height: 601px (in mind)*/
/* @media screen and (min-width: 960px) {
} */

/* For screen (width: 1024px and more, height: 768px (in mind) */
/* @media screen and (min-width: 1022px) {
} */

/* For screen (width: 1024px and more, height: 1366px)*/
/* @media screen and (min-width: 1022px) and (min-height: 1365px) {
} */

/* For screen (width: 1280px and more, height: 720px (in mind)*/
@media screen and (min-width: 1278px) {
  .horiz-left {
    width: 26%;
  }

  .horiz-left .title {
    margin-right: -5rem;
  }

  #my-work .work-space-pic {
    height: 44rem;
  }
}

/* For screen (width: 1280px and more, height: 800px (in mind)*/
/* @media screen and (min-width: 1278px) and (min-height: 799px) {
} */

/* For screen (width: 1280px and more, height: 1024px*/
/* @media screen and (min-width: 1278px) and (min-height: 1022px) {
} */

/* For screen (width: 1366px and more, height: 768px (in mind)*/
@media screen and (min-width: 1364px) {
  .horiz-left {
    max-width: 30rem;
  }

  #my-work .work-space-pic {
    height: 46rem;
  }
}

/* For screen (width: 1366px and more, height: 1024px*/
/* @media screen and (min-width: 1364px) and (min-height: 1022px) {
} */

/*---Desktop-Media-Querie-Rules--- */
/* For screen (width: 1400px and more)*/
@media screen and (min-width: 1399px) {
  #my-work {
    padding-bottom: 6rem;
  }

  #my-work .title {
    margin-top: 6rem;
  }
}

/* For screen (width: 1500px and more, height: 700px*/
/* @media screen and (min-width: 1500px) and (min-height: 700px) {
} */

/* For screen (width: 1536px and more, height: 864px*/
/* @media screen and (min-width: 1534px) and (min-height: 862px) {
} */

/* For screen (width: 1600px and more, height: 900px (in mind)*/
@media screen and (min-width: 1598px) {
  #my-work .horiz-left {
    max-width: 34rem;
  }
}

/* For screen (width: 1680px and more*/
/* @media screen and (min-width: 1679px) {
} */

/* For screen (width: 1750px and more*/
@media screen and (min-width: 1749px) {
  #my-work .horiz-left {
    margin-left: 8rem;
  }
}

/* For screen (width: 1900px and more, height: 1080 (in-mind)*/
@media screen and (min-width: 1900px) {
  #my-work {
    padding: 0 5%;
    background: linear-gradient(
      -20deg,
      #fff 0,
      #fff 40%,
      #e2dfdf 40%,
      #e2dfdf 58%,
      #fff 58%,
      #fff 100%
    );
  }
}
