/* ----Mobile-First---- */
/* Starting from the smallest, iphone 5/SE size: 320x568*/
/* Scrollbar styles */
/* width */
.vert-down ::-webkit-scrollbar {
  width: 10px;
  border-radius: 50%;
}

/* Handle */
.vert-down ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
.vert-down ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#my-work .vert-down {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects {
  width: 100%;
  height: 70%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.vert-down .scroll-down {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.vert-down .scroll-down-icon {
  margin-top: 0.5rem;
}

/* ----Mobile-Landscape---- */
/* Styles for mobiles in landscape mode that has min-height of 300px*/
@media screen and (min-height: 300px) and (min-width: 568px) and (orientation: landscape) {
  .projects {
    height: 52%;
    margin-top: 1rem;
  }

  .vert-down .scroll-down {
    font-size: 1.6rem;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 360px*/
@media screen and (min-height: 360px) and (min-width: 640px) and (orientation: landscape) {
  #my-work .vert-down {
    width: 70%;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 360px*/
@media screen and (min-height: 360px) and (min-width: 760px) and (orientation: landscape) {
  #my-work .horiz-right {
    width: 50%;
    margin-top: 12rem;
    height: 70%;
    justify-content: space-between;
  }

  .projects {
    width: 90%;
    height: 90%;
  }
}

/* Styles for mobiles in landscape mode that has min-height of 375px*/
@media screen and (min-height: 375px) and (min-width: 667px) and (orientation: landscape) {
  #my-work .horiz-right {
    width: 50%;
    margin-top: 16rem;
    height: 70%;
  }

  .projects {
    height: 80%;
  }
}

/*---Tablet-Media-Querie-Rules--- */
/* For screen (width: 600px and more, height: 800px (in mind)*/
@media screen and (min-width: 599px) and (min-height: 799px) {
  #my-work .vert-down {
    height: 50%;
  }

  .projects {
    height: 65%;
  }

  .vert-down .scroll-down {
    font-size: 1.7rem;
  }
}

/* For screen (width: 768px and more, height: 1024px (in mind)*/
@media screen and (min-width: 766px) {
  #my-work .horiz-right {
    margin-top: 18%;
    height: 75%;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90%;
  }
}

/* For screen (width: 800px and more, height: 600px (in mind)*/
@media screen and (min-width: 798px) {
  #my-work .horiz-right {
    margin-top: 28%;
    width: 65%;
    height: 65%;
  }
}

/* For screen (width: 962px and more, height: 601px (in mind)*/
@media screen and (min-width: 960px) and (min-height: 600px) {
  #my-work .horiz-right {
    margin-top: 22%;
  }
}

/* For screen (width: 1280px and more, height: 720px (in mind)*/
@media screen and (min-width: 1278px) {
  #my-work .horiz-right {
    margin-top: 18%;
    width: 70%;
  }

  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For screen (width: 1366px and more, height: 768px (in mind)*/
@media screen and (min-width: 1364px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*---Desktop-Media-Querie-Rules--- */
/* For screen (width: 1400px and more)*/
@media screen and (min-width: 1399px) {
  #my-work .horiz-right {
    margin-top: 22%;
  }

  .projects {
    margin-top: 6%;
    row-gap: 1rem;
  }
}

/* For screen (width: 1500px and more, height: 700px*/
@media screen and (min-width: 1500px) and (min-height: 700px) {
  #my-work .horiz-right {
    margin-top: 18%;
  }
}

/* For screen (width: 1900px and more, height: 1080 (in-mind)*/
@media screen and (min-width: 1900px) {
  #my-work .horiz-right {
    margin-top: 12%;
  }

  .projects {
    margin-top: 5%;
  }

  .horiz-right .scroll-down {
    font-size: 1.8rem;
  }
}
